.App {
  min-height: 100vh;
  background-color: #9BA17B;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  padding: 10px;
  border: none;
}

.search-button {
  background: #CFB997;
  border: none;
  padding: 10px 20px;
  color: black;
  font-weight: bold;
  margin: 0;
}

button:hover {
  /* background-color: #EF9B0F; */
  background-color: #153462;
  color: white;
}

.recipe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}